.header {
    background-color: $header-bg;
    display: flex;
    align-items: center;
    padding: 10px;

    .header-logo {
        margin-right: 16px;

        i {
            font-size: 32px;
            width: 32px;
            height: 32px;
            color: #fff;
            margin: auto;

        }

    }

    .header-search {
        position: relative;

        input {
            background-color: hsla(0, 0½, 100½, .125);
            width: 300px;
            height: 19px;
            padding: 7px;
            font-size: 12px;
            color: #fff;
            border: none;
            margin-right: 16px;
            border-radius: 3px;

        }

        i {
            position: absolute;
            right: 25px;
            top: 8px;
            color: gray;

        }
    }

    .header-links {
        a {
            font-size: 16px;
            font-family: $my-font;
            margin-right: 16px;
            text-decoration: none;
            color: #fff;
        }

    }

    .header-rightlinks {
        margin-left: auto;

        i {
            color: #ccc;
            margin-left: 6px;
        }

    }
}